:root {
    /* CSS HEX */
    --powder-blue: #aed4e3;
    --blue-whale: #043345;
    --california: #fc9b04;
    --eastern-blue: #229cbc;
    --rolling-stone: #7a7c7f;
    --calico: #e1bf99;
    --emperor: #535353;
    --sunglow: #fcbc3a;
    --crusta: #ff8830;

}

/* List */
/* 27399f, 196be1, 1470cb, 216fb0, 537dbd #27399f, #196be1, #1470cb, #216fb0, #537dbd */
/* Comma Seperated */
/* 27399f, 196be1, 1470cb, 216fb0, 537dbd #27399f, #196be1, #1470cb, #216fb0, #537dbd */
/* 

White: #FFFFFF - This is a classic choice that works well with any shade of blue. It creates a strong contrast and gives a clean, fresh look.

Yellow: #FFFF00 - This is a complementary color to blue and creates a high contrast effect. It works well with darker shades of blue.

Orange: #FFA500 - This is another complementary color to blue that creates a strong contrast. It works well with mid-range shades of blue.

Pink: #FFC0CB - This is a softer contrast option that works well with lighter shades of blue. It creates a gentle, feminine look.

Green: #00FF00 - This is a high contrast option that works well with lighter shades of blue. It creates a vibrant, energetic look.

*/



/* ! Home page background animation */