:root {
  /* CSS HEX */
  --powder-blue: #aed4e3;
  --blue-whale: #043345;
  --california: #fc9b04;
  --eastern-blue: #229cbc;
  --rolling-stone: #7a7c7f;
  --calico: #e1bf99;
  --emperor: #535353;
  --sunglow: #fcbc3a;
  --crusta: #ff8830;
}
